<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Patient Profile:Medical Information Management System</title>
<link rel="icon" type="image/gif/png" href="/image/title.png">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/form.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.tablePart{
    position:absolute;
 	background:blue;
 	padding:22px;
 	font-size:17px;	
 	margin:40px;
 	width:700px;


}

table,th,td{

	border-collapse:collapse;
	background:;
	
}
th,td{
	padding:10px;
	text-align:left;
}
tr:nth-child(even){
	background-color: red;
}
tr:nth-child(odd){
	background-color:black;
}
h4{
	float:right;

}
.wrapper .content{
       
background-color:red;

}
.wrapper .date{
       
background-color:red;

}


</style>

</head>
<body>
	<div class="wrapper">
		<img alt="medical system" src="/image/profile.jpg" width="100%"
			height="1150">
		<div class="content">
			<h3>Medical Information Management System</h3>
			
				
			<div th:switch="${role}">
				<span th:case="'[Admin]'" class="link"><a th:href="@{/adminPage}">Home</a></span>
				<span th:case="'[Receptionist]'" class="link"><a th:href="@{/receptionistPage}">Home</a></span>
				<span th:case="'[Doctor]'" class="link"><a th:href="@{/doctorPage}">Home</a></span>
			</div>
			
			
			<div class="tablePart">
			<h3>Patient Profile</h3>
			
			<table style="width:100%">
           
			<tr>
			<th>ID</th>
			<td th:utext="${id}">
			</tr>
			
			
			<tr>
			<th>Name</th>
			<td th:utext="${name}">
			</tr>
			
			<tr>
			<th>Email</th>
			<td th:utext="${email}">
			</tr>
			
			<tr>
			<th>Phone</th>
			<td th:utext="${phone}">
			</tr>
			
			<tr>
			<th>Age</th>
			<td th:utext="${age}">
			</tr>
			
            <tr>
			<th>Address</th>
			<td th:utext="${address}">
			</tr>
            
			<tr>
			<th>Gender</th>
			<td th:utext="${gender}">
			</tr>
			
			<tr>
			<th>Patient Status</th>
			<td th:utext="${status}">
			</tr>
			
			<tr>
			<th>Assigned Doctor</th>
			<td th:utext="${doc_id}">
			</tr>
			
			<tr>
			<th>Patient type</th>
			<td th:utext="${type}">
			</tr>
			
			<tr>
			<th>Ward Number</th>
			<td th:utext="${wardNumber}">
			</tr>
			
			<tr>
			<th>Bed Number</th>
			<td th:utext="${bedNumber}">
			</tr>
			
			<tr>
			<th>Admit Date</th>
			<td th:utext="${admitDate}">
			</tr>
			
			<tr>
			<th>Release Date</th>
			<td th:utext="${releaseDate}">
			</tr>
			
			<tr>
			<th>Lab Number</th>
			<td th:utext="${labNumber}">
			</tr>
			
			<tr>
			<th>Death Date</th>
			<td th:utext="${deathDate}">
			</tr>
			
			<tr>
			<th>Death Cause</th>
			<td th:utext="${deathCause}">
			</tr>
			
			
			<tr>
			<th>Extra Information</th>
			<td th:utext="${extrainfo}">
			</tr>
			
			
			
			
			</table>
			
			

		</div>
		
	
		</div>
		
		<div class="date">
			<p id="demo"></p>
		</div>
	</div>
	
	
	<script type="text/javascript">
		var d = new Date();
		document.getElementById("demo").innerHTML = d;
	</script>
		

</body>
</html>